@charset "utf-8";
/* CSS Document */
body {
    background-color: #f8f8f8;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-top-style: none;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wmdk-welcome-columns .wmdk-column h2 {
    font-size: 20px;
}

.wmdk-welcome-columns .wmdk-column {
    float: left;
}

.wmdk-page {
    width: 78%;
    margin: 10% auto;
    border: 1px solid #666;
    padding: 15px;
    height: 400px;
    background-color: #eee;
}

.wmdk-page h1 {
    height: 48px;
    font-size: 24px;
    margin-bottom: 15px;
    margin: 5px;
    padding: 0;
}

.wmdk-welcome-columns .wmdk-column ul {
    margin: 5px 0 5px 0;
    line-height: 24px;
    font-size: 14px;
}

.wmdk-welcome-columns .wmdk-column {
    padding: 0 5px 0 5px;
    width: 30%;
}

li.lp-plugin-disabled a {
    color: #999;
}

li.lp-plugin-disabled a:hover {
    color: #333;
    text-decoration: none;
}
